h1,h2,h3,p,div {
	font-family: 'Segoe UI Light', 'Calibri Light', 'Yu Gothic', Arial, sans-serif;
	font-weight: 100;
	clear: both;
}
.header {
	transform: translateX(-50%) rotate(-90deg) translate(-50%,39px);
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100vh;
	top: -48px;
	border: 1px solid #000;
}
.header>h1 {
	margin: 0;
	padding: 20px;
	background: #000;
	color: #fff;
	font-size: 40px;
	text-align: center;
}
.articles {
	margin: 0 0 0 90px;
}
.article-group {
	display: inline-block;
}
.article {
	display: inline-block;
	cursor: pointer;
}
.article-big > div > img {
	height: 500px;
}
.article-small > div > img {
	height: 250px;
}
.article-name {
	position: absolute;
	color: #000;
	background: #fff5f5;
	padding: 0 20px 1px 4px;
	border-radius: 3px;
	transform: translateX(80px) rotate(-90deg) translateX(50%) skew(-10deg);
	opacity: 0.7;
	margin-top: -22px;
	min-width: 200px;
	text-align: center;
}
.article-big > .article-name {
	transform: translateX(120px) rotate(-45deg) translateX(70%);
}
.article:hover > .article-name {
	background: #00f9f9;
}
.foot {
	color: #999;
	text-align: center;
	margin: 20px;
}
.foot>span {
	color: #eee;
	margin: 5px;
}
