<div class="cart-articles">
  {% for article in articles %}
  <div class="cart-article" data-articleId="{{article.articleId}}">
    <div class="cart-image"><img src="{{article.imgs[-1]}}"/></div>
    <div class="cart-article-name">{{article.name}}</div>
    <div class="cart-article-price">{{article.dispPrice}}</div>
    <div class="cart-article-button cart-article-button-a"></div>
    <div class="cart-article-button cart-article-button-b"></div>
    <div class="cart-article-button cart-article-button-c"></div>
    <div class="cart-article-button cart-article-button-d"></div>
  </div>
  {% endfor %}
</div>

<form class="open-payment" action="//pay" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-amount="{{amount}}"
    data-name="Retailer"
    data-description="Creditcard payment"
    data-image="http://icons.iconarchive.com/icons/petalart/free-shopping/256/shopping-bag-icon.png"
    data-locale="{{locale}}"
    data-currency="{{currency}}"
    data-zip-code="true">
  </script>
</form>
