<html>
<head>
  <title>Main</title>
  <link rel="shortcut icon" href="/static/favicon.ico"/>
  <link rel="stylesheet" href="/static/goofy.css" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/static/common.js"></script>
  <script src="/static/goofy.js"></script>
</head>
<body>
{% if not user['logged_in'] %}<a href="/login">{% endif %}
<div class="user">
  <img class="avatar" src="{{user['avatar']}}"/>
  <span class="name">{{user['name']}}</span>
  {% if user['logged_in'] %}<a class="logout" href="/logout">Sign out</a>{% endif %}
</div>
{% if not user['logged_in'] %}</a>{% endif %}
<div class="header"><h1>Retail prototype 'goofy'!</h1></div>
<div class="cart">
  <img src="/static/goofy-cart.png"/>
</div>
<div class="articles">
  {% for article in articles %}
  <div class="article-container">
    <div class="article article-small" data-articleId="{{article.articleId}}">
      <div class="add"></div>
      {% if article.imgs.1 %}
      <div class="image-0"><img src="{{article.imgs.0}}"/></div>
      <div class="image-1"><img src="{{article.imgs.1}}"/></div>
      {% else %}
      <div class="image"><img src="{{article.imgs.0}}"/></div>
      {% endif %}
      <p class="article-name">{{article.name}}</p>
      <p class="article-price">{{article.dispPrice}}</p>
    </div>
    <div class="article-description">{{article.description}}</div>
  </div>
  {% endfor %}
</div>
<div class="foot">Whatever and then some <span>|</span> More <span>|</span> Contact</div>
</body>
</html>
