<html>
<head>
  <title>Main</title>
  <link rel="shortcut icon" href="/static/favicon.ico"/>
  <link rel="stylesheet" href="/static/goofy.css" type="text/css"/>
</head>
<body>
{% if not user['logged_in'] %}<a href="/login">{% endif %}
<div class="user">
  <img class="avatar" src="{{user['avatar']}}"/>
  <span class="name">{{user['name']}}</span>
  {% if user['logged_in'] %}<a class="logout" href="/logout">Sign out</a>{% endif %}
</div>
{% if not user['logged_in'] %}</a>{% endif %}
<div class="header"><h1>Retail prototype 'goofy'!</h1></div>
<div class="cart">
  <img src="/static/goofy-cart.png"/>
</div>
<div class="articles">
  {% for article in articles %}
  <div class="article-container">
    <a class="article" href="">
      <div class="add"></div>
      <div><img src="{{article.imgs.0}}"/></div>
      <p class="article-name">{{article.name}}</p>
    </a>
    <div class="article-description">{{article.description}}</div>
  </div>
  {% endfor %}
</div>
<div class="foot">Whatever and then some <span>|</span> More <span>|</span> Contact</div>
</body>
</html>
