<html>
<head>
  <title>Main</title>
  <link rel="shortcut icon" href="/static/favicon.ico"/>
  <link rel="stylesheet" href="/static/little.css" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/static/little.js"></script>
</head>
<body>

<div class="header">
  <div class="cart">
    <img src="/static/little-cart.png"/>
  </div>
  <h1>Retail prototype 'little'!</h1>
  <div class="user">
    {% if not user['logged_in'] %}<a href="/login">{% endif %}
    <img class="avatar" src="{{user['avatar']}}"/>
    <br/>
    <span class="name">{{user['name']}}</span>
    {% if not user['logged_in'] %}</a>{% endif %}
    {% if user['logged_in'] %}<br/><a class="logout" href="/logout">Sign out</a>{% endif %}
  </div>
</div>

<div class="articles">
  {% for article_group in article_groups %}
  <div class="article-group">
    {% for article in article_group %}
      {% if article_group|length == 1 %}
        <div class="article article-big">
      {% else %}
        <div class="article article-small">
      {% endif %}
          <div><img src="{{article.imgs.0}}"/></div>
          <p class="article-name">{{article.name}}</p>
        </div>
      {% if article == article_group.1 %}
        <br/>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
<div class="foot">Kids and so forth <span>|</span> Waco <span>|</span> Hoolabaloo</div>
</body>
</html>
